.principalbackground{
    background-color: #06283D;
    background-size: 200% 200%;
}

.secundarybackground{
    background-color: #dff1f8;
    background-size: 200% 200%;

}
#profilecontainer{
    background-image: url("../images/deepspace.jpg");
    background-size: 200vh;
    color: #dff1f8;
   
}

#profileimg{
    width: 300px;
    height:300px;
    border: 5px solid   #06283D  ;
    border-radius: 50%;
}

#mini-robot{
    height: 120px;
}

#AboutME, h2 .text-lighterblue{
    color: #dff1f8;
}

#AboutME, .text-lighterblue{
    color: #dff1f8;
}

.contactIcon{
    color:  #06283D  ;
}